<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/logo_alcorp.png" class="navbar-brand-img" alt="Comedores Logo">
      </a>
    </div>
    <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
      <div class="icon-container">
        <i class="ni ni-bold-left text-white"></i>
        <i class="ni ni-bold-left text-white"></i>
      </div>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav"> 
          <li class="nav-item">
            <a class="nav-link {% if 'usuarios' in segment %} active {% endif %}" href="/usuarios.html">
              <i class="ni ni-circle-08 text-default"></i>
              <span class="nav-link-text">Usuarios</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'clientes' in segment %} active {% endif %}" href="/clientes.html">
              <i class="ni ni-building text-blue"></i>
              <span class="nav-link-text">Clientes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'comedores' in segment %} active {% endif %}" href="/comedores.html">
              <i class="ni ni-shop text-brown"></i>
              <span class="nav-link-text">Comedores</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'empleados' in segment and 'reporte' not in segment %} active {% endif %}" href="/empleados.html">
              <i class="ni ni-single-02 text-info"></i>
              <span class="nav-link-text">Empleados</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'generador-vales' in segment %} active {% endif %}" href="/generador-vales.html">
              <i class="ni ni-credit-card text-orange"></i>
              <span class="nav-link-text">Generador de Vales</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'administrador-vales' in segment %} active {% endif %}" href="/administrador-vales.html">
              <i class="ni ni-archive-2 text-yellow"></i>
              <span class="nav-link-text">Administrador de vales</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'reporte' in segment %} active {% endif %}" href="#navbar-reportes" data-toggle="collapse" role="button" aria-expanded="{% if 'reporte' in segment %}true{% else %}false{% endif %}" aria-controls="navbar-reportes">
                <i class="ni ni-single-copy-04 text-folder"></i>
                <span class="nav-link-text">Reportes</span>
            </a>
            <div class="collapse {% if 'reporte' in segment %} show {% endif %}" id="navbar-reportes">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="/reporte-empleados.html" class="nav-link {% if 'reporte-empleados' in segment %} active {% endif %}">
                          <i class="ni ni-single-02 text-folder"></i>
                          <span class="nav-link-text">Empleados</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/reporte-unicos.html" class="nav-link {% if 'reporte-unicos' in segment %} active {% endif %}">
                          <i class="fas fa-key text-folder"></i>
                          <span class="nav-link-text">Vales Únicos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/reporte-perpetuos.html" class="nav-link {% if 'reporte-perpetuos' in segment %} active {% endif %}">
                          <i class="fas fa-infinity text-folder"></i>
                          <span class="nav-link-text">Vales Perpetuos</span>
                        </a>
                    </li>
                  </ul>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>