
  <script src="/static/assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/static/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/static/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/static/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>

  <!-- Empleados -->
  <script src="/static/assets/fetch-js/fetchDataEmpleados.js"></script>

  <!-- Clientes -->
  <script src="/static/assets/fetch-js/fetchDataClientes.js"></script>    
  
   <!-- Tipos Nomina -->
  <script src="/static/assets/fetch-js/fetchDataNomina.js"></script>

  <!-- Comedores -->
  <script src="/static/assets/fetch-js/fetchDataComedores.js"></script>

  <!-- Usuarios -->
  <script src="/static/assets/fetch-js/fetchDataUsuarios.js"></script>

  <!-- Reporte Empleados -->
  <script src="/static/assets/fetch-js/fetchDataReportesEmpleados.js"></script>

  <!-- Reporte Vales Únicos -->
  <script src="/static/assets/fetch-js/fetchDataUnicosReportes.js"></script>

  <!-- Reporte Vales Perpetuos -->
  <script src="/static/assets/fetch-js/fetchDataReportesPerpetuos.js"></script>

  <!-- Entradas -->
  <script src="/static/assets/fetch-js/fetchDataEntradas.js"></script>

  <!-- LotDetails -->
  <script src="/static/assets/fetch-js/fetchDataLotDetails.js"></script>