{% extends 'layouts/base.html' %}

{% block title %} Icons {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .card {
    max-width: 450px;
    width: 100%;
  }
</style>
{% endblock stylesheets %}

{% block content %}        

<div class="card-container">
  <div class="card shadow">
    
    <!-- Header Section -->
    <div class="card-header bg-transparent d-flex justify-content-between">
      <h3 class="mb-0" id="cliente"></h3>
      <span id="comedor"></span>
    </div>

    <!-- Main Section -->
    <div class="card-body">
      <h4 class="text-center mb-3">Registrar entrada</h4>
      <div class="form-group">
        <label for="employeeCode">Código de Empleado</label>
        <input type="text" class="form-control" id="employeeCode" placeholder="Ingrese código de empleado">
      </div>
      <div class="form-group">
        <label for="voucherFolio">Folio del Vale</label>
        <input type="text" class="form-control" id="voucherFolio" placeholder="Ingrese folio del vale">
      </div>
    </div>

    <!-- Footer Section -->
    <div class="card-footer bg-transparent d-flex justify-content-end">
      <button type="button" class="btn btn-primary" id="btnValidarVale">Validar</button>
    </div>

  </div>
</div>

  <!-- Toast container -->
<div aria-live="polite" aria-atomic="true" class="position-relative" style="z-index: 1070;" id="toast-area" aria-hidden="true">
  <div class="toast-container position-fixed bottom-0 right-0 p-4 m-1 z-4" id="toastContainer">
    <!-- Toasts will be dynamically added here -->
  </div>
</div>

{% include "includes/footer.html" %}

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>
<script src="/static/assets/html-js/loadDataEntradas.js"></script>

{% endblock javascripts %}