{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    
{% include "includes/footer.html" %}    

    <!-- Header -->
    <div class="header pb-6">
      <h6 class="h2 d-inline-block mb-0"></h6>
      
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
     
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
{% endblock javascripts %}
