{% extends 'layouts/base.html' %}

{% block title %} Usuarios {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">        
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0 d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Usuarios</h3>
            <!-- Search for username or name or first name or second name -->
            <div class="d-flex">
              <input type="text" class="form-control rounded-pill mr-2 ml-3" id="searchUserInput" placeholder="Buscar">
              <select class="form-control rounded-pill mr-2" id="roleFilter" name="roleFilter" title="Filtrar por rol">
                <option value="">Todos los roles</option>
                <!-- Roles will be populated here -->
              </select>
              <button class="btn btn-primary rounded-pill" id="createUserBtn" data-toggle="modal" data-target="#createUserModal">Crear</button>
            </div>
          </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Nombre de Usuario</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Primer Apellido</th>
                                <th scope="col">Segundo Apellido</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Rol</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="userTableBody">
                            <!-- User rows will be populated here -->
                        </tbody>
                    </table>
                </div>
                <!-- Card footer -->
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0" id="pagination">
                            <!-- Pagination links will be populated here -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for creating user -->
    <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createUserModalLabel">Crear Usuario</h5>
                    <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="createUserForm">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="create_username" class="form-label">Nombre de Usuario</label>
                                <input type="text" class="form-control" id="create_username" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="create_first_name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="create_first_name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="create_last_name" class="form-label">Primer Apellido</label>
                                <input type="text" class="form-control" id="create_last_name" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="create_second_last_name" class="form-label">Segundo Apellido</label>
                                <input type="text" class="form-control" id="create_second_last_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="create_email" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="create_email">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="create_password" class="form-label">Contraseña</label>
                                <div class="input-group">
                                  <input type="password" class="form-control" id="create_password">
                                  <button class="btn btn-outline-secondary" type="button" id="toggleCreatePassword">
                                      <i class="fa fa-eye p-0"></i>
                                  </button>
                              </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="create_role" class="form-label">Rol</label>
                                <select class="form-control" id="create_role" required>
                                    <!-- Roles will be populated here -->
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="create_status" class="form-label">Estado</label>
                                <select class="form-control" id="create_status" required>
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer p-0">
                          <button type="submit" class="btn btn-primary" data-dismiss="Modal">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for editing user -->
    <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">Modificar Usuario</h5>
                    <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form id="editUserForm">
                        <input type="hidden" id="edit_userId">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="edit_username" class="form-label">Nombre de Usuario</label>
                                <input type="text" class="form-control" id="edit_username" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="edit_first_name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="edit_first_name" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="edit_last_name" class="form-label">Primer Apellido</label>
                                <input type="text" class="form-control" id="edit_last_name" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="edit_second_last_name" class="form-label">Segundo Apellido</label>
                                <input type="text" class="form-control" id="edit_second_last_name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="edit_email" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="edit_email">
                            </div>
                            <div class="col-md-6 mb-3">
                              <label for="edit_password" class="form-label">Contraseña</label>
                              <div class="input-group">
                                <input type="password" class="form-control" id="edit_password" disabled>
                                <button class="btn btn-outline-secondary" type="button" id="toggleEditPassword">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>
                            <div id="createPasswordFeedback" class="invalid-feedback"></div>
                              <div class="form-check mt-2">
                                  <input class="form-check-input" type="checkbox" id="enablePasswordEdit">
                                  <label class="form-check-label" for="enablePasswordEdit">
                                      Editar Contraseña
                                  </label>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="edit_role" class="form-label">Rol</label>
                                <select class="form-control" id="edit_role" required>
                                    <!-- Roles will be populated here -->
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="edit_status" class="form-label">Estado</label>
                                <select class="form-control" id="edit_status" required>
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer p-0">
                          <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Toast container -->
    <div aria-live="polite" aria-atomic="true" class="position-relative" style="z-index: 1070;" id="toast-area" aria-hidden="true">
      <div class="toast-container position-fixed bottom-0 right-0 p-4 m-1" id="toastContainer" >
          <!-- Toasts will be dynamically added here -->
      </div>
    </div>

    {% include "includes/footer.html" %}
</div>
{% endblock content %}

{% block javascripts %}
<script src="/static/assets/html-js/loadDataUsuarios.js"></script>
{% endblock javascripts %}