<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated QR Codes</title>
</head>
<body>
    <main>

    {% for qr_path, folio, comedor, employee  in qrcodes%}
        
        {% if loop.index0 % 3 == 0 %}
            <div class="row">
        {% endif %}

            <div class="qr-code" >
              <div class="header" >
                <img src="file:///{{ logo_path }}" alt="Alcorp logo">
                <span>{{comedor}}</span>
              </div>
              <span class="employee">
                {% if employee and voucher_type == "PERPETUO" %}
                  {{employee}}
                {% endif %}
              </span>
              <img src="file:///{{ qr_path }}" alt="QR Code">
              <div class="footer" >
                {% if voucher_type == "PERPETUO" %}
                <span class="vale-perpetuo">Vale perpetuo</span>
                {% endif %}
                <span>Folio: {{folio}}</span>
              </div>
            </div>
        
        {% if loop.index0 % 3 == 2 %}
            </div>
        {% endif %}
        
    {% endfor %}


    </main>
</body>
</html>