<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated QR Codes</title>
</head>
<body>
    <main> 
            <div class="row">
            <div class="qr-code" >
              <div class="header">
                <img src="file:///{{ logo_path }}" alt="Alcorp logo">
                <span class="comedor">{{comedor}}</span>
              </div>
              <span class="employee">
                {% if employee %}
                  <strong class="employee-label">Empleado</strong>
                  <span class="employee-name">{{employee}}</span>
                {% endif %}

              </span>
              <img src="file:///{{ qr_path }}" alt="QR Code">
              <div class="footer" >
                {% if company_name %}
                <span class="company-name">{{company_name}}</span>
                {% endif %}
                <span class="vale-perpetuo">Vale perpetuo</span>
                <span>Folio: {{folio}}</span>
              </div>
            </div>
        
            </div>

    </main>
</body>
</html>